@tailwind base;
@tailwind components;
@tailwind utilities;


/* @keyframes fade {
  0% {
    opacity: 0.97;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.97;
  }
}

.bg-animated {
  animation: fade 4s ease-in-out infinite;
} */
 @keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}